@charset "utf-8";

/* ==========================================================================
 * Bootstrap overrides
 * ========================================================================== */

$brand-primary:             #61B5AB;

/* ==========================================================================
 * Imports / Includes
 * ========================================================================== */

@import "joomla3";
@import "mixins";
@import "css3-mixins";

/* ==========================================================================
 * Custom extends and mixins
 * ========================================================================== */



/* ==========================================================================
 * Layout
 * ========================================================================== */

.hero {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: -10;
    margin-top: -171px;
    margin-bottom: -280px;
}

.logo {
    position: relative;
    top: 45px;
    left: 50px;
    z-index: 10;
    margin-top: 0px;
}


/* ==========================================================================
 * Typography
 * ========================================================================== */



/* ==========================================================================
 * Primary navigation
 * ========================================================================== */

.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 20%;
    margin-bottom: -90px;
}

.navbar-inner .container ul.nav {
    float: right;
}

/* ==========================================================================
 * Globals
 * ========================================================================== */

.visible {
  display: block !important;
  opacity: 1;
  height: auto;
}

.cloak {
  display: none !important;
  opacity: 0;
  height: 0;
}

::selection {
  color: white;
  background: green;
}

::-moz-selection {
  color: white;
  background: green;
}

.alignleft, .alignright {
  margin-bottom: 1em;
}

.alignleft {
  margin-right: 1em;
  float: left;
}

.alignright {
  margin-left: 1em;
  float: right;
}


body {
  background: #fff;
}