@charset "utf-8";

/* ==========================================================================
 * Bootstrap overrides
 * ========================================================================== */

$brand-primary:             #61B5AB;

/* ==========================================================================
 * Imports / Includes
 * ========================================================================== */

@import "joomla3";
@import "mixins";
@import "css3-mixins";

/* ==========================================================================
 * Custom extends and mixins
 * ========================================================================== */



/* ==========================================================================
 * Layout
 * ========================================================================== */



/* ==========================================================================
 * Typography
 * ========================================================================== */



/* ==========================================================================
 * Primary navigation
 * ========================================================================== */



/* ==========================================================================
 * Globals
 * ========================================================================== */

.visible {
  display: block !important;
  opacity: 1;
  height: auto;
}

.cloak {
  display: none !important;
  opacity: 0;
  height: 0;
}

::selection {
  color: white;
  background: green;
}

::-moz-selection {
  color: white;
  background: green;
}

.alignleft, .alignright {
  margin-bottom: 1em;
}

.alignleft {
  margin-right: 1em;
  float: left;
}

.alignright {
  margin-left: 1em;
  float: right;
}


body {
  background: #fff;
}